body {
    background-color: #FCF6CF;
	margin-top: 2em;
}

.dimension {
	width: 960px;
}

.centralalign {
	margin: auto;
}

header {
	background: url(../Images/frame.jpg) 0 0 no-repeat;
	height: 739px;
}

hr {
	margin: 2em 0;
}

.map {
	margin: 1em 0;
}

#map {
	height: 550px;
	width: 960px;
}

h1, h2, h3, h4, h5, h6 {
	color: #960;
	font-family: ParisianRegular;
	font-size: 270%;
	margin-bottom: 0.5em;
	text-shadow: #960 1px 1px 2px;
}

h1, h2, h3, h4, h5, h6, p {
	text-align: center;
}

h1 {
	padding-top: 1em;
}

hr,
.shadow {
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-ms-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-o-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.contact {
	margin-bottom: 2em;
	margin-top: 2em;
	width: 300px;
}

a {
	color: #960;
	
	-webkit-transition: color 0.2s linear;
	-moz-transition: color 0.2s linear;
	-ms-transition: color 0.2s linear;
	-o-transition: color 0.2s linear;
	transition: color 0.2s linear;
}

a:focus,
a:hover {
	color: #333;
	text-decoration: none;
}

.label.warning {
    background-color: #960;
}

.label + span {
    display: block;
    margin: 0.5em 0 1em;
}

.alert-message.block-message.danger p {
    margin: 1em auto;
}

.alert-message.block-message.danger ul {
    margin: 2em auto 1em;
    width: 10em;
}

#subForm {
    margin: auto;
    width: 15em;
}

.alert-message.block-message.danger h2,
.alert-message.block-message.danger a {
    color: #fff;
}

.RSVP {
    margin: 1em auto;
    width: 12em;
}

.signoff {
    margin-bottom: 3em;
}